<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="imagens/favicon.ico" type="image/x-icon">
    <title>Cabeleleila Leila</title>
</head>

<body>
    <div class="cabecalho">
        <h1 class="logo">Cabeleleila Leila</h1>
    </div>
    <div class="corpo">

        <div class="container-principal">
            <div class="container">
                <img class="imagem-principal" src="imagens/cabeleleira 2.jpg"
                    alt="Cabeleleira lavando o cabelo da cliente">
            </div>
            <div class="container login flex-column-center">
                <div class="inputs flex-column-center">
                    <h2>Cadastro</h2>
                    <input class="input" id="ipt-usuario" type="text" placeholder="Usuário">
                    <input class="input" id="ipt-senha" type="password" placeholder="Senha">
                    <input class="input" id="ipt-confirma" type="password" placeholder="Confirme a Senha">
                    <input class="input" id="ipt-nome" type="text" placeholder="Nome Completo">
                </div>
                <div class="botoes flex-column-center">
                    <button class="botao" id="btn-cadastrar">Cadastrar</button>
                    <button class="botao" id="btn-entrar">Entrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="rodape">
        <div class="container contatos">
            <h2>Info para contato</h2>
            <p class="contato"><img class="icon" src="imagens/whatsapp.png" alt="Icone do whatsapp">(14) 99999-8888</p>
            <p class="contato"><img class="icon" src="imagens/telefone.png" alt="Icone de telefone">(14) 3333-2222</p>
            <p class="contato"><img class="icon" src="imagens/facebook.png" alt="Icone do facebook">Cabeleleila Leila
            </p>
            <p class="contato"><img class="icon" src="imagens/instagram.png" alt="Icone do instagram">@CabeleleilaLeila
            </p>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="cadastro.js"></script>

</html>